@import "./variaveis";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
html {
	font-size: 62.5%;
}

.container-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(28, 170px);
	color: $text-color_1;
	background-color: $bg-color_1;
}

header {
	grid-column: 1/13;
	background-color: $bg-color_3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $text-color_2;
}
#menu-desktop {
	display: flex;
	justify-content: right;
	margin-top: 9rem;
	ul {
		display: flex;
		list-style: none;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				padding: 2.5rem;
				list-style: none;
				font-size: 2rem;
				text-decoration: none;
				color: $text-color_2;
				&:hover {
					background-color: $bg-color_4;
				}
			}
		}
	}
}
.menu-mobile {
	display: none;
}
#titulo-cabecalho {
	color: $text-color_2;
	font-size: 4.5rem;
}
#titulo-cabecalho-mobile {
	display: none;
}
#logo-cabecalho {
	max-width: 15rem;
	border-radius: 50%;
	margin: 1rem 0 1rem 2rem;
}
.box-menu-mobile {
	display: none;
}
.linha1-menu {
	width: 5.5rem;
	height: 0.5rem;
	background-color: $bg-color_1;
	transition: 0.5s;
}
.linha2-menu {
	width: 5.5rem;
	height: 0.5rem;
	background-color: $bg-color_1;
	transition: 0.5s;
}
.linha3-menu {
	width: 5.5rem;
	height: 0.5rem;
	background-color: $bg-color_1;
	transition: 0.5s;
}

.section-form {
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 97rem;
    width: 100%;
    grid-column: 1/13;
    grid-row: 23
}

.form-box{
    width: 500px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $bg-color_4;
    color: white;
    border-radius: 2rem;
    box-shadow: $bg-color_9 1rem 1rem;
    position: relative;
    top: -10rem;
}
.form {
    h2 {
        font-size: 4rem;
        position: relative;
        top: 0rem;
        left: 16rem;
        text-shadow: $bg-color_8 0px 10px;
    }
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input {
        background-color: transparent;
        outline: none;
        width: 40rem;
        margin-top: 6rem;
        height: 5rem;
        color: $text-color_2;
        visibility: visible;
        text-align: left;
        vertical-align: top;
        border-radius: 1rem;
    }

    label {
        font-size: 2rem;
        position: absolute;
        margin-top: 3.6rem;
        left: 5rem;
    }

    button {
        width: 400px;
        height: 40px;
        border-radius: 30px;
        background-color: $bg-color_13;
        color: $text-color_2;
        border: none;
        outline: none;
        position: relative;
        top: 0rem;
        cursor: pointer;
        font-size: 2rem;
    }
}

.span-form{
    font-size: 1.5rem;
    position: relative;
    left: -6rem;
    color: $text-color_3;
    top: 0.5rem;
    visibility: hidden;
}

#span-nome{
    left: -3rem;
}

#span-tel{
    left: -8rem;
}

#span-email {
    left: -12.5rem;
}

#span-msg {
    left: -5rem;
    top: 0;
}

.containeir-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color_2;
}
main {
    grid-column: 1/13;
    grid-row: 2/7;
    background-image: url(../assets/smart-cities.jpg);
    background-size: 100%;
    height: 1000px;
    color: $text-color_2;
    background-repeat: no-repeat;
    max-width: 100%;
}
#titulo-home {
    font-size: 7rem;
    margin-top: 15rem;
}
#sub-home {
    font-size: 4rem;
    width: 120rem;
    text-align: center;
    margin-top: 2rem;
}
.btn-projeto {
    margin-top: 10rem;
    button {
        font-size: 2rem;
        color: $text-color_2;
        text-decoration: none;
        padding: 1.5rem;
        background-color: $bg-color_9;
        border-radius: 3rem;
        border: 0;
        cursor: pointer;
        &:hover {
            background-color: $bg-color_8;
            font-size: 2.2rem;
            transition: 0.2s;
        }
    }
}

.problema {
    margin: 7rem 0 0 2rem;
    grid-column: 1/13;
    gap: 10rem;
    display: flex;
}
.fundo-problema {
    background-color: $bg-color_7;
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
    display: flex;
    color: $text-color_2;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 25rem;
    width: 110rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        li {
            font-size: 2rem;
            padding-right: 2rem;
            text-align: justify;
            margin-left: 6rem;
        }
    }
}
#titulo-problema {
    font-size: 4rem;
    font-weight: bold;
}
#sub-problema {
    font-size: 2rem;
    width: 60rem;
    text-align: justify;
}

.solucao {
    display: flex;
    margin: 7rem 0 0 2rem;
    grid-column: 1/13;
    grid-row: 9/15;
    gap: 10rem;
    display: flex;
}
.container-solucao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#titulo-solucao {
    font-size: 5rem;
    font-weight: bold;
}
#sub-solucao {
    margin-top: -18rem;
    font-size: 2.5rem;
    text-align: center;
    max-width: 170rem;
}
.containeir-como-funciona-solucao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -20rem;
}
.quadrado {
    max-width: 55rem;
    width: 100%;
    max-height: 30rem;
    height: 100%;
    margin-top: 5rem;
    border: 2px solid $bg-color_12;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    h2 {
        padding: 0 2rem 0 2rem;
        margin-top: -3rem;
        font-size: 2.5rem;
        font-weight: lighter;
    }
}
.box-numero {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid $bg-color_12;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3.3rem;
    left: -23rem;
}
#numero1 {
    top: -6.9rem;
}
#box-numero4 {
    top: -5rem;
}
.numero {
    font-size: 3rem;
    color: $text-color_4;
}
.titulo-quadrado {
    font-size: 2.5rem;
    margin-top: -10rem;
}

.demonstracao {
    grid-column: 1/13;
    grid-row: 16/20;
    display: flex;
    justify-content: center;
}
.container-demonstracao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        width: 150rem;
    }
}
.video-yt {
    width: 110rem;
    height: 60rem;
}

.vantagens {
    grid-column: 1/13;
    grid-row: 21;
}
.container-vantagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#titulo-vantagens {
    font-size: 4rem;
}
.container-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    img {
        width: $width-icon-desktop;
    }
    p {
        font-size: 1.8rem;
        text-align: center;
    }
}
.icons {
    border: 1px solid $bg-color_13;
    border-radius: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 4rem;
    }
}
#icon-precisao {
    img {
        margin-top: 2rem;
    }
}
#icon-simplicidade {
    img {
        margin-top: 2rem;
    }
}